<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

    <head>
        <meta charset="utf-8">
        <!-- Force IE into standards mode -->
        <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
        
        <title>$title</title>

        <link rel="stylesheet" href="reveal.js/css/reveal.css">
        <link rel="stylesheet" href="shorte.css" id="theme">

        <style>
            html,
            body {
            	width: 100%;
            	height: 100%;
                margin:0px;
                padding:0px;
            }
        </style>

        <!--
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
        -->

    </head>

    <body>
        <table style="height:100%;width:100%;">
            <tr style="height:100px;width:100%;background-color:white;">
                <td>
                    <a href="index.html"><img src="css/images/logo.png" style="top:10px;left:10px;height:80px;border:0px;text-decoration:none;"></img></a>
                    $pdf
                </td>
            </tr>
            <tr style="height:auto;">
                <td style="width:100%;height:auto;height:80%;">
                    <div class="reveal" style="height:100% !important;height:100%;width:100%;margin:0px;padding:0px;">
                        <div class="slides">
                            <section data-background-transition="slide" style="background: rgba(255,255,255,0.5)">
                                <h2 style="color:white;margin-top:300px;">$title</h2>
                                <h3 style="color:white;">$subtitle</h3>
                                <h3 style="color:white;">Version $version ($date)</h3>
                                <h3 style="color:white;">Created by $author</h3>
                            </section>
                            $contents
                        </div>
                    </div>
                </td>
            </tr>

            <tr style="min-height:40px;height:40px;background-color:black;">
                <td>
                    Footer Content
                </td>
            </tr> 
        </table>

        <script src="reveal.js/lib/js/head.min.js"></script>
        <script src="reveal.js/js/reveal.js"></script>

        <script>

            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                center: false,
                //rtl: true,
                controls:true,
                progress:true,
                history:true,
                slideNumber:true,
                mouseWheel:true,

                transition: 'default',
                // transitionSpeed: 'slow',
                // backgroundTransition: 'slide'
            });

        </script>

    </body>
</html>

