<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>$title</title>
    $css
    
    $html_tooltips

    <!-- These are temporary links to jquery support modules -->
    <script type="text/javascript" src="css/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="css/js/jquery.maphilight.js"></script>
    
</head>
<body>

$javascript

<div class="container">
    <div class="header">
        <div style="height: 120px;">
            <span style='float:left;position:relative;left:240px;top:34px;font-size:1.4em;color:#ccc;'>$title</span>
            <span style='float:left;position:absolute;left:270px;top:64px;font-size:1.2em;color:#ccc;'>$subtitle</span>
            $pdf</div>
        <div id="menu_div">
            <ul>
                <li><a href="$link_index" target="_top"><div>Contents</div></a></li>
                <li><a href="$link_index_framed" target="_top"><div>Frames</div></a></li>
                $links
                <li style="float:right;"><a href="$link_revisions"><div style='color:#e6592e;'>Version: $version</div></a></li>
            </ul>
        </div>
    </div> <!-- end of header div -->
    <div class="body" style="min-height:500px;">
        <div style="width: 90%;padding: 15px; float: left;min-height:500px;"> 
            $contents
        </div>
    <div style="clear:both;"></div>
    </div>
    <!--
    <div class="footer">
        <div style="height: 40px;margin-top:10px;">
            <span style="margin-left:10px;width:200px;"><a href="$link_legal">Legal Information</a></span>
            <span style="width:200px;float:right;">Version: $version</span>
            <span style="width:200px;float:right;">Last updated: $date</span>
        </div>
    </div>
    -->
</div>
</body>
</html>

