[shorte]
default_package=html ; The default package to use when generating output documents
theme=shorte         ; The default theme to use when generating output

inkscape=c:\usr\tools\InkscapePortable\InkscapePortable
scratchdir=./scratch

; Automatically add a header before prototype declarations
;prototype_add_header=h4

; Automatically add a header before a testcase declaration
;testcase_add_header=h4

; Paths to open office swriter. This will be overridden by the
; environment variable PATH_OOWRITER
path.oowriter.win32=C:/Program Files (x86)/LibreOffice 4/program/swriter.exe
path.oowriter.linux=/tools/swott/rh6/libreoffice/latest/opt/libreoffice4.2/program/swriter
path.oowriter.osx=/Applications/LibreOffice.app/Contents/MacOS/soffic

path.gnuplot.win32=gnuplot
path.gnuplot.linux=/usr/bin/gnuplot
path.gnuplot.osx=/opt/local/bin/gnuplot

; This option automatically creates a heading and a function/type
; summary for each module that is processed
auto_summarize=0
header_add_to_prototype=h4
header_add_to_struct=h4
header_add_to_define=h4
header_add_to_enum=h4

; Display enum values in generated documentation
show_enum_values=0

; Behavior if duplicate headers are encountered. Supported
; values include:
;    error = flag an error if a duplicate header is found
;    warn  = flag a warning if a duplicate header is found
;    ignore = don't do anything if duplicate headers are found
duplicate_headers=warn

; Validate line lengths of code segments. Supported
; values include:
;    error = flag an error if a duplicate header is found
;    warn  = flag a warning if a duplicate header is found
;    ignore = don't do anything if duplicate headers are found
; The line length should follow
validate_line_length=warn@87


[paths]
# Path to batik
path.batik.win32=C:/usr/git/tools/shorte/3rdparty/batik/batik-rasterizer.jar



[records]
bit_order=increment ; increment = 0-max
                    ; decrement = max-0

[wikify]
; Attempts to automatically insert links for headers and wiki-words if the
; topic exists. Currently only works in the HTML documentation
allow=1
allow_in_comments=1

[c]
header_style=doxygen
comment_style=c

; Record format
;   native
;   bitfields
;   byte_array
format=byte_array

; Determines whether or not debug code should be added to generated code
generate_debug_code=1

# Compiler paths
compile.linux=gcc -Iplatform -o ${output} ${source}
compile.osx=gcc -Iplatform -o ${output} ${source}
compile.win32="C:\\Program Files (x86)\\Microsoft Visual Studio 10.0\\VC\\bin\\vcvars32.bat" && cl ${source} /Fe${output}

[cpp]
compile.linux=g++ -Iplatform -o ${output} ${source}
compile.osx=g++ -Iplatform -o ${output} ${source}
compile.win32="C:\\Program Files (x86)\\Microsoft Visual Studio 10.0\\VC\\bin\\vcvars32.bat" && cl ${source} /Fe${output}

[python]
run.linux=python ${source}
run.osx=python ${source}
run.win32=python ${source}

[bash]
run.linux=bash ${source}
run.osx=bash ${source}

[swift]
run.osx=swift ${source}

[go]
run.osx=go run ${source}

[javascript]
run.osx=gjs ${source}

[java]
compile.linux=javac ${source}
compile.osx=javac ${source}
compile.win32=javac ${source}
run.linux=java -cp . ${source}
run.osx=java -cp . ${source}
run.win32=java -cp . ${source}

[perl]
run.linux=perl ${source}
run.osx=perl ${source}
run.win32=perl ${source}

[tcl]
run.linux=tclsh ${source}
run.osx=tclsh ${source}
run.win32=tclsh ${source}


[cpp_parser]
add_function_header=None ; Set to None to disable creating of headers

; This option automatically creates a heading and a function
; summary for each module that is processed
auto_summarize=0

extract_private=0
output_pseudocode=0

[odt]
; Make sure every prototype starts at the beginning of a new page.
; to work you'll need the prototype_add_header field set in the [shorte]
; section.
prototype_break_before=1

; Set to 1 to append captions to structure and enum declarations
caption_struct=0
caption_enum=0

show_enum_values=1


[html]
; Enable numbering of headers
header_numbers=1

record_width=1000 ; The width of any generated structure diagrams in HTML documents

; If we're generating an inline HTML document should we display the TOC?
inline_toc=0

; Determines whether or not a header should be displayed
; on certain parts of the document:
;    code       => Display a header on code snippets
;    example    => Display a header on examples of prototypes
;    pseudocode => Display a header on pseudocode of prototypes
;    prototype  => Display a header on prototypes
show_code_header=code,example,pseudocode

; Show navigation icons next headings to make it easier
; to jump back through the document.
show_header_nav_icons=False

; Determine whether line numbers should be visible
; in code snippets
;   0 = disable line numbers
;   1 = inline in span
;   2 = separate in their own div
allow_line_numbers=2

; Set to 1 to append captions to structure and enum declarations
caption_struct=0
caption_enum=1

; This flag is used to determine whether or not to show
; a link to the results in the testcase summary
testcase_summary_show_results=1

; This flag determines whether not javascript support will
; be embedded in the output document. In some cases when generating
; inlined HTML documents we might want to exclude it.
include_javascript=1

[clang]
args.osx=-xc -I${SHORTE_STARTUP_DIR}/3rdparty/clang/includes
args.linux=-xc -I${SHORTE_STARTUP_DIR}/3rdparty/clang/includes
args.win32=-xc -I${SHORTE_STARTUP_DIR}\\3rdparty\\clang\\includes

; Behavior of clang parser errors. Supported values include:
;   fatal = abort if the parser encountered an error
;   error = flag an error if a parse error occurs
;   warn  = only flag the parse error as a warning
parser_errors=warn

; Configuration settings for markdown content
[markdown]
; Set to 1 to include the table of contents in markdown
; content.
include_toc=True

; Configuration settings for text content
[text]
; Set to 1 to include the table of contents in text
; content.
include_toc=True

; Command line arguments for calling wkhtmltopdf. The
; input and output file will be added to the end of this
; list when doing the conversion.
[wkhtmltopdf]
args.osx=/usr/local/bin/wkhtmltopdf
args.linux=/usr/local/bin/wkhtmltopdf
args.win32=C:\\usr\\tools\\wkhtmltopdf\\bin\\wkhtmltopdf.exe
