<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>$title</title>

        <link rel="stylesheet" href="reveal.js/css/reveal.css">
        <link rel="stylesheet" href="cortina.css" id="theme">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
        
        <style>
            html,
            body {
            	width: 100%;
            	height: 100%;
                margin:0px;
                padding:0px;
            }
        </style>
    </head>

    <body>
        <table style="height:100%;width:100%;border:0px;padding:0px;border-spacing:0px;border-collapse:collapse;background-color:white;">
            <tr style="height:120px;width:100%;background:url('css/images/sl1-bg.jpg') no-repeat;background-size:100%;">
                <td style='border-bottom:1px solid black;'>
                    <a href="index.html"><img src="css/images/logo.png" style="top:10px;left:10px;height:80px;border:0px;text-decoration:none;"></img></a>
                    <span style='margin-left:200px;font-weight:bold;font-size:2.0em;color:white;font-family:Arial;font-variant:small-caps;'>$title</span>
                </td>
            </tr>
            <tr style="height:auto;background-color:;">
                <td style="width:100%;height:auto;height:80%;">
                    <div class="reveal" style="height:100%;width:100%;margin:0px;padding:0px;">
                        <div class="slides">
                            <section data-background-transition="slide">
                                <h2 style="color:black;margin-top:200px;">$title</h2>
                                <h3 style="color:black;">$subtitle</h3>
                                <h3 style="color:black;">Version $version ($date)</h3>
                                <h3 style="color:black;">Created by $author</h3>
                            </section>
                            $contents
                        </div>
                    </div>
                </td>
            </tr>

            <tr style="min-height:40px;height:40px;background-color:black;color:#ccc;">
                <td>
                    <span style='margin-left:30px;'>
                    &copy; Cortina Systems, Inc. 2014 All Rights Reserved
                    </span>
                    <span style='margin-left:200px;'>
                    Proprietary and Confidential
                    </span>
                </td>
            </tr> 
        </table>

        <script src="reveal.js/lib/js/head.min.js"></script>
        <script src="reveal.js/js/reveal.js"></script>

        <script>

            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                center: false,
                //rtl: true,
                controls:true,
                progress:true,
                history:true,
                slideNumber:true,
                mouseWheel:true,

                transition: 'default',
                // transitionSpeed: 'slow',
                // backgroundTransition: 'slide'
            });

        </script>

    </body>
</html>

